

<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h1>I'm a Header!!</h1>
        <!-- <label for="server">Server Name</label>
        <input class="form-control" type="text" name="server" (input)="onUpdateServerName($event)">
        <p>{{serverName}}</p> -->
        <label for="server">Server Name</label>
        <input class="form-control" type="text" name="server" 
        [(ngModel)]="serverName">
        <button
        class="btn btn-primary" 
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
        <p>{{serverCreationStatus}}</p>
        <app-servers></app-servers>
        <app-servers></app-servers>
      </div>
  </div>
</div>